<section class="feedbacks" id="feedback">
  <div class="container feedbacks__container">
    <h2 class="feedbacks__title">Відгуки клієнтів</h2>
    <p class="feedbacks__subtitle">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
    </p>

    <div class="feedbacks__slider">
      <div class="swiper feedbacks-swiper">
        <div class="swiper-wrapper" id="feedbacksWrapper"></div>
      </div>

      <div class="feedbacks__controls">
        <div class="feedbacks__pagination" id="fbPagination"></div>
        <div class="feedbacks__arrows">
          <button
            class="fb-btn fb-btn--prev"
            id="fbPrev"
            aria-label="Попередній відгук"
          >
            <svg class="arrow-icon left-arrow" width="14" height="15">
              <use href="/assets/icons.svg#icon-arrow"></use>
            </svg>
          </button>

          <button
            class="fb-btn fb-btn--next"
            id="fbNext"
            aria-label="Наступний відгук"
          >
            <svg class="arrow-icon right-arrow" width="14" height="15">
              <use href="/assets/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
