
<section class="furniture-section" id="furniture">

  <div class="container container-mebli">
    <div class="furniture-catalog-wrap">
      <h2 class="furniture-title">Наші меблі</h2>
      <p class="section-description">
        Знайдіть ідеальні рішення для вашого інтер'єру
      </p>
      <ul class="furniture-list" id="categoryList">
        <li class="furniture-item furniture-item-all">
          <div class="furniture-card all active">
            <p class="furniture-text">Всі товари</p>
          </div>
        </li>
        <li class="furniture-item furniture-item-sofa">
          <div class="furniture-card sofa">
            <p class="furniture-text">М'які меблі</p>
          </div>
        </li>
        <li class="furniture-item furniture-item-storage">
          <div class="furniture-card storage">
            <p class="furniture-text">Шафи та системи зберігання</p>
          </div>
        </li>
        <li class="furniture-item furniture-item-bed">
          <div class="furniture-card bed">
            <p class="furniture-text">Ліжка та матраци</p>
          </div>
        </li>
        <li class="furniture-item furniture-item-table">
          <div class="furniture-card table">
            <p class="furniture-text">Столи</p>
          </div>
        </li>
        <li class="furniture-item furniture-item-chair">
          <div class="furniture-card chair">
            <p class="furniture-text">Стільці та табурети</p>
          </div>
        </li>
        <li class="furniture-item furniture-item-kitchen">
          <div class="furniture-card kitchen">
            <p class="furniture-text">Кухні</p>
          </div>
        </li>
        <li class="furniture-item furniture-item-kids">
          <div class="furniture-card kids">
            <p class="furniture-text">Меблі для дітей</p>
          </div>
        </li>
        <li class="furniture-item furniture-item-office">
          <div class="furniture-card office">
            <p class="furniture-text">Меблі для офісу</p>
          </div>
        </li>
        <li class="furniture-item furniture-item-hallway">
          <div class="furniture-card hallway">
            <p class="furniture-text">Меблі для передпокою</p>
          </div>
        </li>
        <li class="furniture-item furniture-item-bathroom">
          <div class="furniture-card bathroom">
            <p class="furniture-text">Меблі для ванної кімнати</p>
          </div>
        </li>
        <li class="furniture-item furniture-item-garden">
          <div class="furniture-card garden">
            <p class="furniture-text">Садові та вуличні меблі</p>
          </div>
        </li>
        <li class="furniture-item furniture-item-decor">
          <div class="furniture-card decor">
            <p class="furniture-text">Декор та аксесуари</p>
          </div>
        </li>
      </ul>
    </div>
  
    <ul class="products-list" id="productsList"></ul>
    <button id="loadMoreBtn" class="load-more" hidden>Показати ще</button>
  </div>
</section>
