<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo" id="logo">
      <svg class="logo-icon" width="159" height="35">
        <use href="/assets/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <div class="nav-actions">
      <nav class="nav">
        <ul class="nav-ul">
          <li><a href="#furniture" class="nav-link">Наші меблі</a></li>
          <li><a href="#about-us" class="nav-link">Про нас</a></li>
          <li><a href="#faq" class="nav-link">Часті питання</a></li>
          <li><a href="#feedback" class="nav-link">Відгуки</a></li>
        </ul>
      </nav>
      <a href="#furniture" class="cta-button">До покупок</a>
    </div>

    <button class="burger" id="burger">
      <svg class="burger-icon" width="21" height="16">
        <use href="assets/icons.svg#icon-burger"></use>
      </svg>
    </button>

    <div class="mobile-menu" id="mobileMenu">
      <div class="mobile-menu-head">
        <a href="./index.html" class="logo mob-logo" id="logo">
          <svg class="logo-icon" width="159" height="35">
            <use href="/assets/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <button class="close-menu" id="closeMenu">
          <svg class="close-icon" width="32" height="32">
            <use href="assets/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <nav class="mobile-nav">
        <ul class="mobile-nav-ul" >
          <li><a href="#furniture" class="mobile-nav-link">Наші меблі</a></li>
          <li><a href="#about-us" class="mobile-nav-link">Про нас</a></li>
          <li><a href="#faq" class="mobile-nav-link">Часті питання</a></li>
          <li><a href="#feedback" class="mobile-nav-link">Відгуки</a></li>
          <li><a href="#furniture" class="mobile-cta-button">До покупок</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
